<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 15px; height: 80px">

# Project 2

### Iowa Liquor Sales 

---

In this project, you will be using the pandas data transformation functionality (melt, pivot, groupby, apply) that was not a factor in the first half of Project 2. 

---

#### Context of the data

The state of Iowa provides many data sets on their website, including [this dataset](https://www.dropbox.com/sh/pf5n5sgfgiri3i8/AACkaMeL_i_WgZ00rpxOOcysa?dl=0) which contains transactions for all stores that have a class E liquor license. You can choose one of the following two scenarios.

The data can also be found [directly on their website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy), which allows you to explore it graphically and download it (though it doesn't work very well).

NOTE: Some of you may have computer issues with the full dataset. In this case, feel free to use [this 10% dataset version of Iowa liquor sales](https://drive.google.com/file/d/0Bx2SHQGVqWaseDB4QU9ZSVFDY2M/view?usp=sharing). You may want to use it anyway to test and prototype your code since it will be faster, before running it on the full dataset.

---

#### Package imports

In [2]:
import numpy as np
import scipy.stats as stats
import pandas as pd

# this line tells jupyter notebook to put the plots in the notebook rather than saving them to file.
%matplotlib inline

# this line makes plots prettier on mac retina screens. If you don't have one it shouldn't do anything.
%config InlineBackend.figure_format = 'retina'

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 1. Load the data from file

---

In [3]:
# check the iowa file location for your computer 
iowa_file = '../../datasets/iowa_liquor/Iowa_Liquor_sales_sample_10pct.csv'

iowa = pd.read_csv(iowa_file)
print "Dataframe is of size: " + str(iowa.values.nbytes / 10**6) + "MB"

Dataframe is of size: 39MB

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 2. Do an initial overview of the data

---

At the very least describe the columns/variables and the datatypes.

In [4]:
print iowa.head()
iowa.describe().T

         Date  Store Number         City Zip Code  County Number      County  \
0  11/04/2015          3717       SUMNER    50674            9.0      Bremer
1  03/02/2016          2614    DAVENPORT    52807           82.0       Scott
2  02/11/2016          2106  CEDAR FALLS    50613            7.0  Black Hawk
3  02/03/2016          2501         AMES    50010           85.0       Story
4  08/18/2015          3654      BELMOND    50421           99.0      Wright

    Category              Category Name  Vendor Number  Item Number  \
0  1051100.0           APRICOT BRANDIES             55        54436
1  1011100.0           BLENDED WHISKIES            395        27605
2  1011200.0  STRAIGHT BOURBON WHISKIES             65        19067
3  1071100.0         AMERICAN COCKTAILS            395        59154
4  1031080.0             VODKA 80 PROOF            297        35918

            Item Description  Bottle Volume (ml) State Bottle Cost  \
0  Mr. Boston Apricot Brandy                 750             $4.50
1                    Tin Cup                 750            $13.75
2                   Jim Beam                1000            $12.59
3    1800 Ultimate Margarita                1750             $9.50
4         Five O'clock Vodka                1750             $7.20

  State Bottle Retail  Bottles Sold Sale (Dollars)  Volume Sold (Liters)  \
0               $6.75            12         $81.00                   9.0
1              $20.63             2         $41.26                   1.5
2              $18.89            24        $453.36                  24.0
3              $14.25             6         $85.50                  10.5
4              $10.80            12        $129.60                  21.0

   Volume Sold (Gallons)
0                   2.38
1                   0.40
2                   6.34
3                   2.77
4                   5.55

/Users/ritapaixao/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,count,mean,std,min,25%,50%,75%,max
Store Number,270955.0,3.590264e+03,947.662050,2106.00,2604.0,3722.00,4378.00,9023.00
County Number,269878.0,5.723164e+01,27.341205,1.00,NaN,NaN,NaN,99.00
Category,270887.0,1.043888e+06,50182.111075,1011100.00,NaN,NaN,NaN,1701100.00
Vendor Number,270955.0,2.564344e+02,141.014890,10.00,115.0,260.00,380.00,978.00
Item Number,270955.0,4.597496e+04,52757.043086,168.00,26827.0,38176.00,64573.00,995507.00
Bottle Volume (ml),270955.0,9.248303e+02,493.088489,50.00,750.0,750.00,1000.00,6000.00
Bottles Sold,270955.0,9.871285e+00,24.040912,1.00,2.0,6.00,12.00,2508.00
Volume Sold (Liters),270955.0,8.981351e+00,28.913690,0.10,1.5,5.25,10.50,2508.00
Volume Sold (Gallons),270955.0,2.372830e+00,7.638182,0.03,0.4,1.39,2.77,662.54

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 3. Clean the dataset

---

### 3.1 Identify columns that you will need to convert and clean. Where and how is the data corrupted?

Don't worry about converting the date column to a pandas/numpy "datetime" datatype, unless you want to (not required for these problems and is a challenging thing to work with in its own right.)

In [5]:
iowa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 18 columns):
Date                     270955 non-null object
Store Number             270955 non-null int64
City                     270955 non-null object
Zip Code                 270955 non-null object
County Number            269878 non-null float64
County                   269878 non-null object
Category                 270887 non-null float64
Category Name            270323 non-null object
Vendor Number            270955 non-null int64
Item Number              270955 non-null int64
Item Description         270955 non-null object
Bottle Volume (ml)       270955 non-null int64
State Bottle Cost        270955 non-null object
State Bottle Retail      270955 non-null object
Bottles Sold             270955 non-null int64
Sale (Dollars)           270955 non-null object
Volume Sold (Liters)     270955 non-null float64
Volume Sold (Gallons)    270955 non-null float64
dtypes: float64(4), int64(5), object(9)
memory usage: 37.2+ MB

### 3.2 Clean the columns

In [6]:
#method1 - demora muito o resultado, consome muita memoria 

#for i in range(len(sales)):
#    new_l.append(sales[i][1:(len(sales[i]))])
#print new_l

#method2 - demora para cacete tb!!!!!
sales = iowa['Sale (Dollars)']
new_l = [sales[i].replace('$','') for i in range(sales.shape[0])]
sales = new_l
sales = map(float, sales)
iowa['Sale (Dollars)'] = sales
iowa.rename(columns={'Sale (Dollars)': 'Sales'}, inplace=True)

sales = iowa['State Bottle Cost'] 
new_l = [sales[i].replace('$','') for i in range(sales.shape[0])]
sales = new_l
sales = map(float, sales)
iowa['State Bottle Cost'] = sales

sales = iowa['State Bottle Retail'] 
new_l = [sales[i].replace('$','') for i in range(sales.shape[0])]
sales = new_l
sales = map(float, sales)
iowa['State Bottle Retail'] = sales

iowa.describe()

,Store Number,County Number,Category,Vendor Number,Item Number,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sales,Volume Sold (Liters),Volume Sold (Gallons)
count,270955.000000,269878.000000,2.708870e+05,270955.00000,270955.000000,270955.000000,270955.000000,270955.000000,270955.000000,270955.000000,270955.000000,270955.000000
mean,3590.263701,57.231642,1.043888e+06,256.43443,45974.963300,924.830341,9.773281,14.675760,9.871285,128.902375,8.981351,2.372830
std,947.662050,27.341205,5.018211e+04,141.01489,52757.043086,493.088489,7.047119,10.570145,24.040912,383.027369,28.913690,7.638182
min,2106.000000,1.000000,1.011100e+06,10.00000,168.000000,50.000000,0.890000,1.340000,1.000000,1.340000,0.100000,0.030000
25%,2604.000000,NaN,NaN,115.00000,26827.000000,750.000000,5.500000,8.270000,2.000000,30.450000,1.500000,0.400000
50%,3722.000000,NaN,NaN,260.00000,38176.000000,750.000000,8.000000,12.270000,6.000000,70.560000,5.250000,1.390000
75%,4378.000000,NaN,NaN,380.00000,64573.000000,1000.000000,11.920000,17.880000,12.000000,135.000000,10.500000,2.770000
max,9023.000000,99.000000,1.701100e+06,978.00000,995507.000000,6000.000000,425.000000,637.500000,2508.000000,36392.400000,2508.000000,662.540000

In [7]:
iowa['Date'] = iowa['Date'].apply(pd.to_datetime)

In [32]:
iowa.groupby(['Date']).size().sort_values(ascending=False)
#dates.dt.strftime('%Y-%m-%d')
iowa['strmy']=iowa['Date'].dt.strftime('%Y%b')
iowa.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sales,Volume Sold (Liters),Volume Sold (Gallons),strmy,Store Closed
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38,2015Nov,0
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40,2016Mar,0
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,12.59,18.89,24,453.36,24.0,6.34,2016Feb,0
3,2016-02-03,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,9.50,14.25,6,85.50,10.5,2.77,2016Feb,0
4,2015-08-18,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,7.20,10.80,12,129.60,21.0,5.55,2015Aug,0

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 3.3 Perform more extensive cleaning of the dataset

Cleaning of data can mean a lot more than just fixing strings and numbers in columns. There are often logical errors with data, useless or nonsensical categories, redundancy of information, outliers, and many more problems.

This dataset has problems beyond just fixing the types of columns. Though resolving them may not be required for EDA and analysis, if you want experience with "deeper" cleaning of data this is a great dataset to start practicing with.

Keep in mind that some types of "data cleaning" is subjective: it's not always a cut-and-dry conversion of type or removal of null values. Subjectivity when dealing with data is just a fact of life for a data scientist. This isn't a kind of programming where things are just right or wrong.

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 4. Filter/adjust the store data

---

Some stores may have opened or closed in 2015. These stores will have incorrect yearly summary statistics since they were not open the full year. We need to filter them out or find another way to deal with the inconsistent numbers of months across stores.

It is up to you how you want to deal with this problem.

1. Investigate problematic stores.
2. Decide on an approach to deal with stores not open for the full 2015 year.
3. Implement your plan.
4. Briefly report on what you did and why.

In [10]:
l_store_012015 = []
l_store_122015 = []
l_store_012016 = []

for i in range(iowa['strmy'].shape[0]):
    if iowa['strmy'][i]=='2015Dec' and iowa['Store Number'][i] not in l_store_122015:
        l_store_122015.append(iowa['Store Number'][i])
    elif iowa['strmy'][i]=='2016Jan' and iowa['Store Number'][i] not in l_store_012016:
        l_store_012016.append(iowa['Store Number'][i])
    elif iowa['strmy'][i]=='2015Jan' and iowa['Store Number'][i] not in l_store_012015:    
        l_store_012015.append(iowa['Store Number'][i])
        
print 'Stores with sales in Jan2015: ' + str(len(l_store_012015))
print 'Stores with sales in Dec2015: ' + str(len(l_store_122015))
print 'Stores with sales in Jan2016: ' + str(len(l_store_012016))


#iowa.head().T
#print year_db

#iowa_2015 = iowa[(iowa['Date'] >= '2015-1-1') & (iowa['Date'] < '2016-1-1')]
#iowa_2016 = iowa[(iowa['Date'] >= '2016-1-1')]
#merg_iowa = pd.merge(iowa_2015, iowa_2016, on='Store Number', how='right')
#merg_iowa.shape
#merg_iowa.groupby(['Store Number','year'])['year'].size()

#df = df[(df['date'] > '2000-6-1') & (df['date'] <= '2000-6-10')]

Stores with sales in Jan2015: 1148
Stores with sales in Dec2015: 1223
Stores with sales in Jan2016: 1189

In [11]:
l_store_closed = []
for i in range(len(l_store_122015)):
    if l_store_122015[i] not in l_store_012016:
       l_store_closed.append(l_store_122015[i])
    
print l_store_closed
print len(l_store_closed)

[5193, 4930, 2205, 4887, 4365, 4720, 4685, 4497, 5093, 5044, 4643, 4744, 4714, 4387, 5170, 5021, 4590, 5183, 4538, 4860, 5069, 4112, 4532, 4541, 4380, 3691, 4688, 5212, 4513, 3901, 4823, 4770, 5082, 4645, 3437, 5141, 3970, 4934, 4489, 4520, 4717, 4143, 2839, 4523, 5055, 4524, 4702, 4750, 9001, 4546, 5109, 4468, 5062, 4844, 5079, 4791, 3393, 4358, 4953, 4706, 4944, 4656, 4500, 3845, 4659, 5192, 4591, 4716, 4529, 4796, 4544, 4530, 4695, 4417, 5066, 4786, 4766, 4507, 4890, 4923, 4948, 4360, 4961, 5111, 5168, 5150, 4548, 4610, 5201, 4512, 4777, 4811, 4692, 5000]
94

In [12]:
list_closed = []
for i in range(iowa.shape[0]):
    if iowa['Store Number'][i] in l_store_closed:
        list_closed.append(1)
    else:
        list_closed.append(0)
        
iowa['Store Closed']=list_closed

In [107]:
iowa_cleaned = iowa[(iowa['Store Closed'] == 0)]
iowa_cleaned.shape

(267386, 20)

In [210]:
# method2 using isin() function :http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isin.html
#l_st_2015 = iowa[(iowa['Date'].dt.year == 2015)]
#l_st_2016 = iowa[(iowa['Date'].dt.year == 2016)]
#remaining_stores = l_st_2015[(l_st_2015['Store Number'].isin(l_st_2016['Store Number']))]
#clean_iowa = l_st_2016 + remaining_stores

#>>> df = DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'f']})
#>>> other = DataFrame({'A': [1, 3, 3, 2], 'B': ['e', 'f', 'f', 'e']})
#>>> df.isin(other)
#clean_iowa = iowa[()]

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 5. Proposals for new tax rates (Scenario 1)

---

You are a data scientist in residence at the Iowa State tax board. The Iowa State legislature is considering changes in the liquor tax rates and has assigned you to the project.

### 5.1 Calculate yearly liquor sales for each store in 2015.

In [108]:
#titanic[(titanic['Survived']==0)].groupby(['Survived','Pclass', 'Sex']).size().reset_index()

iowa_cleaned[(iowa_cleaned['Date'].dt.year == 2015)].groupby(['Store Number'])['Sales'].sum()

Store Number
2106    146326.22
2113      9310.22
2130    111871.43
2152      7721.08
2178     24324.18
2190    121689.06
2191    125093.49
2200     22811.55
2228     17462.07
2233     29553.34
2238     11762.56
2248     67682.06
2285     76927.11
2290     56514.43
2327     10245.14
2353     54000.55
2367      5010.83
2413     90065.02
2445      7189.48
2448     17740.70
2459      7352.33
2460     33731.76
2465     25831.80
2475     10681.07
2478     19840.65
2487     28900.96
2498      2259.67
2500    149121.63
2501    144833.66
2502    150094.01
          ...
5174      2968.15
5175       224.91
5176      4325.65
5177       573.21
5178       336.07
5179       890.88
5180      2239.44
5181       963.04
5182      2612.94
5185      1077.39
5186       298.86
5187      4239.11
5188      1887.73
5189       604.20
5190      1161.73
5191       303.90
5196       682.85
5198      3985.06
5199      2046.22
5203       928.49
5204       790.44
5205        39.02
5206       500.90
5207      3197.95
5213       180.00
5215        56.03
9002     37700.52
9010      5757.96
9013      2217.48
9018      6435.00
Name: Sales, dtype: float64

### 5.2 Calculate the profit each store is making in 2015.

In [109]:
iowa_cleaned['margin_store'] = iowa_cleaned['State Bottle Retail'].sub(iowa_cleaned['State Bottle Cost'], axis=0)
iowa_cleaned['profit_store']=iowa_cleaned['margin_store'] * iowa_cleaned['Bottles Sold']

iowa_cleaned[(iowa_cleaned['Date'].dt.year == 2015)].groupby(['Store Number'])['profit_store'].sum().sort_values(ascending=False)

/Users/ritapaixao/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/ritapaixao/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

Store Number
2633    333816.91
4829    293196.99
3385    147884.62
2512    140143.46
3420    117593.34
3952    111230.21
3814     83004.48
3354     80244.69
3773     77525.08
2670     75945.64
2593     64197.45
3447     62683.22
2629     61636.70
5102     61588.64
2625     60794.18
3524     60528.54
2663     58512.28
3820     57650.18
4167     55756.18
2648     52950.63
2561     52844.61
2616     51472.43
4677     50542.89
2502     50345.31
2500     49801.48
2106     48838.08
4312     48493.09
2501     48430.73
2619     48105.29
2506     47925.66
          ...
4672       199.27
2961       197.54
5006       192.14
3677       191.64
5177       191.16
4954       190.44
4985       177.32
4929       176.16
5152       173.68
5206       167.02
4737       164.64
5020       157.56
5161       154.55
4990       140.28
4776       125.64
4121       125.04
5178       112.19
4778       102.00
5191       101.34
5186        99.72
4834        90.36
5175        74.99
5213        60.00
5056        58.24
4059        35.15
5053        22.50
5215        18.68
4939        17.81
4567        15.06
5205        13.34
Name: profit_store, dtype: float64

### 5.3 Investigate which Iowa counties are making the most profit on liquor per gallon in 2015.

In [110]:
'Volume Sold (Gallons)'
iowa_cleaned[('profit_per_g')] =iowa_cleaned['profit_store'] / iowa_cleaned['Volume Sold (Gallons)']

iowa_cleaned[(iowa_cleaned['Date'].dt.year == 2015)].groupby(['County'])['profit_per_g'].sum().sort_values(ascending=False)

/Users/ritapaixao/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

County
Polk             974612.207907
Linn             439796.482892
Scott            315358.016490
Black Hawk       283757.002068
Johnson          255754.143429
Story            166211.977844
Pottawattamie    162733.306162
Woodbury         161496.560188
Dubuque          135960.265779
Cerro Gordo      112792.958736
Des Moines        77684.822248
Muscatine         70876.557220
Lee               63244.102599
Clinton           62877.606451
Wapello           62816.409968
Dickinson         62238.926632
Webster           53243.257382
Marshall          51546.091872
Buena Vista       50998.600085
Dallas            49894.659563
Jasper            48107.447665
Marion            46750.847381
Bremer            38089.383364
Warren            36278.524426
Poweshiek         36197.875606
Boone             34305.644515
Carroll           33181.127867
Clay              31834.804080
Jones             31447.194338
Kossuth           30225.175955
                     ...
Clarke            11677.976500
Shelby            11447.853357
Howard            10965.437683
Ida               10732.192399
Humboldt           9731.524214
Wright             9462.155613
Adair              8672.513772
Louisa             8007.073282
Lucas              7850.992983
Mills              7649.902135
Grundy             7568.671706
Pocahontas         7545.205389
Guthrie            6684.983127
Chickasaw          6432.605460
Osceola            6305.959804
Monroe             5919.015087
Calhoun            5838.230932
Worth              5453.784840
Butler             5250.056370
Keokuk             5084.536151
Taylor             4748.718040
Hancock            4683.183137
Adams              4138.037283
Van Buren          3977.585028
Decatur            3405.346889
Audubon            3157.451443
Davis              3114.488364
Ringgold           2747.041667
Wayne              2494.265971
Fremont             409.269453
Name: profit_per_g, dtype: float64

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 5.4 Plot a color map of average profit per county in 2015.

[Check out this site](http://flowingdata.com/2009/11/12/how-to-make-a-us-county-thematic-map-using-free-tools/) for  information on how to create map visualizations in python. There are other resources online for map plotting in python as well.

Another interesting map plot might show the difference in profit between time periods. Change in profit from November to December, for example.

In [30]:
iowa_cleaned[(iowa_cleaned['Date'].dt.year == 2015)].groupby(['County'])['profit_per_g'].mean().sort_values(ascending=False)

County
Polk             24.797400
Johnson          24.399365
Scott            24.152410
Jefferson        24.142467
Buena Vista      23.753423
Story            23.639877
Des Moines       23.583735
Black Hawk       23.563943
Washington       23.546474
Linn             23.405880
Woodbury         23.307340
Lee              22.989496
Montgomery       22.881388
Dallas           22.731052
Muscatine        22.593738
Henry            22.356370
Dickinson        22.331872
Webster          22.286839
Mahaska          22.280549
Plymouth         22.235063
Pottawattamie    22.200997
Greene           22.172351
Poweshiek        22.112325
Dubuque          22.085813
Clinton          22.031397
Wapello          21.963780
Adams            21.894377
Emmet            21.862665
Cass             21.830042
Cerro Gordo      21.829487
                   ...
Hardin           19.898580
Page             19.885599
Sac              19.867941
Jones            19.740863
Winnebago        19.680725
Decatur          19.570959
Allamakee        19.512853
Cedar            19.474863
Mills            19.415995
Adair            19.358290
Cherokee         19.111140
Fayette          18.971613
Benton           18.918373
Wright           18.886538
Iowa             18.850493
Wayne            18.753879
Jackson          18.634297
Fremont          18.603157
Guthrie          18.415931
Audubon          18.357276
Davis            18.320520
Chickasaw        18.274447
Pocahontas       18.225134
Keokuk           18.159058
Worth            18.118887
Butler           18.041431
Grundy           17.935241
Calhoun          17.479733
Ringgold         16.648737
Hancock          15.983560
Name: profit_per_g, dtype: float64

### 5.5  Does profit scale proportionally to store size?

Size of a store can be defined as the total gallons sold in 2015. Is the profit to store size ratio increasing as store size increases? Decreasing? Consistent?

In [31]:
!pwd

/Users/ritapaixao/dsi-sf-3_rita/week2_pivot_table/dsi-sf-3/projects/project2

### 5.6 Create a broader category for liquor type.

Liquor types are pretty granular in this dataset. Create a column that categorizes these types into a smaller amount of categories. The categories you decide on are up to you.

### 5.7 Do relationships exist between the broader liquor type and profit?

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 5.8 Are there any noticeable relationships between liquor brand and sales? Profit?

### 5.9 The tax board wants to design a tax or taxes that affect larger stores more than smaller "mom and pop" stores.

Based on your investigations into the data, come up with a way you could design a tax that achieves this goal **without explicitly taxing stores based on size or county critera.** The liqour board does not want to obviously punish larger stores or speific counties for fear of backlash, but is willing to tax hard alcohol more than beer, for example.

Feel free to do more EDA if it helps.

Your report should describe whether such a tax is possible or not, and the specifics of what the tax will target/do.

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 6. Market research for new store locations (Scenario 2)

A liquor store owner in Iowa is looking to open a store in a new location and has hired you to investigate the market data for potential new locations. The business owner is interested in what you can discover from the data that will help him evaluate a good location for a new storefront.

---

### 6.1 Create columns for Q1 2015 sales and Q1 2016 sales.

The owner is not just interested in what locations are currently selling well, but also which areas are showing the most promising sales growth from 2015 to 2016. 

For yearly changes we will focus on the changes from Q1 2015 to Q1 2016 specifically (avoiding effects of season changes).

Note: Q1 is months: January, February, and March.

In [154]:
l_q1_2015 = []
for i in range(iowa.shape[0]):
    if iowa['strmy'][i]=="2015Jan" or iowa['strmy'][i]=="2015Feb" or iowa['strmy'][i]=="2015Mar":
        l_q1_2015.append(1)
    else:
        l_q1_2015.append(0)

l_q1_2016 = []
for i in range(iowa.shape[0]):
    if iowa['strmy'][i]=="2016Jan" or iowa['strmy'][i]=="2016Feb" or iowa['strmy'][i]=="2016Mar":
        l_q1_2016.append(1)
    else:
        l_q1_2016.append(0)

iowa['Q1 2015'] = l_q1_2015
iowa['Q1 2016'] = l_q1_2016
iowa.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,...,State Bottle Cost,State Bottle Retail,Bottles Sold,Sales,Volume Sold (Liters),Volume Sold (Gallons),strmy,Store Closed,Q1 2015,Q1 2016
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,...,4.50,6.75,12,81.00,9.0,2.38,2015Nov,0,0,0
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,...,13.75,20.63,2,41.26,1.5,0.40,2016Mar,0,0,1
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,...,12.59,18.89,24,453.36,24.0,6.34,2016Feb,0,0,1
3,2016-02-03,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,...,9.50,14.25,6,85.50,10.5,2.77,2016Feb,0,0,1
4,2015-08-18,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,...,7.20,10.80,12,129.60,21.0,5.55,2015Aug,0,0,0

In [161]:
y1= iowa[(iowa['Q1 2015']==1)].groupby(['County'])['Sales'].sum().sort_values(ascending=False).head(15)
y2= iowa[(iowa['Q1 2016']==1)].groupby(['County'])['Sales'].sum().sort_values(ascending=False).head(15)

print y1,y2

County
Polk             1340375.51
Linn              574464.38
Scott             418415.27
Black Hawk        340867.08
Johnson           322143.10
Pottawattamie     232750.24
Woodbury          230760.16
Story             203131.69
Dubuque           190977.13
Cerro Gordo       111299.13
Dallas            104911.32
Des Moines         94893.04
Lee                82436.47
Webster            77404.05
Clinton            74724.10
Name: Sales, dtype: float64 County
Polk             1383147.02
Linn              544102.21
Scott             424554.73
Johnson           371388.76
Black Hawk        353707.78
Pottawattamie     267327.82
Woodbury          252574.99
Dubuque           193566.86
Story             188038.23
Cerro Gordo       126037.11
Dallas            125159.91
Lee                99432.28
Webster            83923.98
Des Moines         82461.15
Clinton            78402.62
Name: Sales, dtype: float64

In [162]:
print iowa[(iowa['Q1 2015']==1)].groupby(['County'])['Sales'].mean().sort_values(ascending=False).head(15)
print iowa[(iowa['Q1 2016']==1)].groupby(['County'])['Sales'].mean().sort_values(ascending=False).head(15)

County
Howard           211.801370
Dallas           204.904922
Henry            188.477487
Madison          168.369663
Carroll          167.362283
Jefferson        153.126419
Woodbury         149.359327
Polk             148.880985
Delaware         145.127257
Scott            142.318119
Johnson          135.297396
Webster          134.850261
Pottawattamie    134.382356
Floyd            134.056278
Warren           134.014990
Name: Sales, dtype: float64
County
Dallas           243.976433
Crawford         200.159418
Lee              182.444550
Delaware         171.058077
Woodbury         156.199746
Pottawattamie    151.977157
Sioux            149.884731
Johnson          149.452217
Floyd            148.772011
Polk             144.771511
Worth            135.723103
Henry            134.476471
Lucas            132.709186
Jefferson        131.788280
Fayette          131.054271
Name: Sales, dtype: float64

### 6.2 Decide on a metric for performance that combines Q1 2016 sales as well as growth in sales from Q1 2015.

Again, the owner wants to know that his store will be in a good position to sell a large amount of liquor now, but also have his store be more likely to grow and sell even more going forward. 

In particular, he is worried about opening a store in an area that is showing a decline in liquor sales between Q1 2015 and Q1 2016.

### 6.3 Recommend a location based on your metric.

The owner asks you to make a recommendation for a new store location. Explain why you recommended this area.

### 6.4 Recommend a location based also on a restricted inventory type.

Your employer has now decided he wants his store to focus on one type of liquor only. He askes you:

1. What would be the best type of liquor to sell to maximize profit?
2. Should the recommended location change if he is only selling one type of liquor?

<img src="http://imgur.com/GCAf1UX.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 7. Time-related effects

---

You could imagine that liquor sales might be affected by a variety of effects related to time. Do people buy more beer in the summer? Do liquor sales skyrocket in december? Do people buy less liquor on Tuesdays?

You have the date of sales in your dataset, which you can use to pull out time components.

1. Come up with 3 different hypotheses about how liquor sales may vary with time-related variables. 
2. Create a visualization exploring each hypothesis.
3. Write brief concluding remarks on what you observed.

<img src="http://imgur.com/GCAf1UX.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 8. Appropriate spending

---

The owner you worked with before realized that opening new stores cost money, something he had completely overlooked earlier. He brings you back in to help him figure out how much he should be willing to spend on opening his store.

### 8.1 Calculate costs and time to recoup.

The owner has decided he will buy 20,000 gallons of the liquor type you recommended (randomly sampled across the different brands/subtypes). He will also be opening his store in the area you recommended.

The cost of buying the property for his store will be $150,000.

1. How much should he expect to spend on the 20,000 gallons of liquor alone?
2. Based on the amount he's spent on the liquor and property, and on the profit per time period he is expected to have, how long will it take him to recoup the costs?

<img src="http://imgur.com/gGrau8s.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">


### 8.2 Calculate maximum loan interest rate.

The owner unfortunately has to take out a loan to to pay for the entirety of the property and liquor. 

**Conditions of the loan**:

Every quarter, (except for Q1 when he takes out the loan), the interest rate is applied to the remaining balance on the loan and added to his debt. 

If, for example, he made no payments whatsoever, not only would the amount of debt he owed keep increasing by quarter but the debt incurred from interest would keep increasing as well. (Since his debt keeps growing, the interest rate is applied each month to the bigger balance, incurring more debt each time.)

**Determining maximum acceptable interest:**

Given this, _the owner wants to be 99% confident that he will be able to pay off his loans._ If the interest rate is too high he will have to eventually declare bankruptcy.

Based on his expected profits per quarter (assume the expected profit stays the same for all future quarters), what is the maximum interest rate he should accept on the loan to be 99% confident he will be able to pay it off?